asgiref==3.6.0
async-generator==1.10
attrs==22.2.0
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.0.1
Cython==0.29.33
dj-database-url==1.2.0
Django==4.1.6
django-jsonfield==1.4.1
exceptiongroup==1.1.0
gunicorn==20.1.0
h11==0.14.0
idna==3.4
jsonfield==3.1.0
language==0.6
networkx==3.0
outcome==1.2.0
Paginator==0.5.1
pair==0.2.3
psycopg2-binary==2.9.5
PySocks==1.7.1
python-dotenv==0.21.1  <!-- убрать на Heroku не нужен -->
pytz==2022.7.1
requests==2.28.2
selenium==4.8.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
trio==0.22.0
trio-websocket==0.9.2
tzdata==2022.7
urllib3==1.26.14
whitenoise==6.3.0
wsproto==1.2.0
